

@font-face {
  font-family: reey-regular;
  src: url("Reey-Regular.otf");
}


/* Variables declarations */
:root {
  --new-background: url(https://veruamari.carrd.co/assets/images/image04.jpg?v=bd5e32f3);
  --general-fonts: Arial, Helvetica, sans-serif;
  --special-font: reey-regular, Arial, Helvetica, sans-serif;
  --spacing-width: calc(3.4vw);
  --base-color-1: white;
  --base-color-2: #e1e8f3;
  --background-color-left: rgb(93, 169, 192);
  --background-color-left-highlight: rgb(93, 222, 245);
  --background-color-right: white;
  --dark-transparent: rgba(0, 0, 0, 0.534);
}

:root {
  background: var(--background-color-left);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--general-fonts);
}

.logo-text {
  font-family: var(--special-font);
  font-size: 2em;
  color: var(--base-color-1);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

.container {
  display: flex;
  flex-grow: 1;
}

.outer {
  flex-direction: column;
  justify-content: center;
}

.inner {
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 0;
}

.logo.container {
  background-color: var(--dark-transparent);
  justify-content: center;
  flex-grow:0;
  flex-basis: 16ex;
  align-items: center;
  margin-top: 22vh;
}

.right {
  background-color: var(--base-color-2);
  flex-basis:63vw;
}

.inner.container,
.form.container {
  padding-left: var(--spacing-width);
}
.form.container {
  padding-bottom: 2ex;
  background-color: var(--base-color-1);
  padding-top: 20px;
}

.left {
  background-image: var(--new-background);
  background-size:cover;
  background-position: center;
  flex-basis: 37vw;
  flex-shrink:0;
  justify-content: space-between;
  text-align: center;
}

.credit {
  margin-bottom: 1vh;
  font-size: .9em;
  color: var(--base-color-1);
  line-height: 3ex;
  background-color: var(--dark-transparent);
}

.hero.text {
  margin-bottom: 3ex;
  font-size: clamp(1rem, 2.5vw ,2.5ex);
  letter-spacing: .15ex;
  padding-right: 10px;
}

input {
  appearance: none;
  background-color: var(--base-color-1);
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  flex-basis: 3.2ex;
  max-width: 13.5em;
  min-width: 15ex;
  width: 19vw;
  font-size: 2ex;
  padding-left: 1ex;
}
input::placeholder{
  color: #a8a8a8;
  font-size: .8em;
}
input:active, input:focus {
  outline: none;
}
input:focus:invalid, input:not(:placeholder-shown):invalid {
  border: 1px solid rgb(255, 65, 97);
  box-shadow: 0 0 3px 0px rgb(139, 7, 29);
}

input:valid{
  border: 1px solid rgb(152, 192, 93);
  box-shadow: 0 0 3px 0px rgb(88, 128, 28);
}
.clarifier {
  font-size: 1ex;
  font-weight: bold;
  text-transform: uppercase;
}
label {
  margin-top: 18px;
  letter-spacing: .2ex;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
}
.field.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.duo.container {
  gap: calc(var(--spacing-width) * 1.5);
  flex-wrap: wrap;
}

.form.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 5px 5px 5px 1px #d6d6d6;
}

a {
  text-decoration: none;
}

.inner.container a {
  font-weight: bold;
  color: var(--background-color-left);
}

.inner.container a:hover {
  color: var(--background-color-left-highlight);
}

.credit a {
  color: var(--background-color-left);
  font-weight: bold;
}
.credit a:hover {
  color: var(--background-color-left-highlight);
}

button[type='submit'] {
  width: 17.5vw;
  flex-basis:45px;
  color: var(--base-color-1);
  font-size: 1em;
  font-weight: bold;
  background: var(--background-color-left);
  border-radius: 8px;
  border: 0;
  margin-top: 35px;
  margin-bottom: 35px;
}
button:hover {
  background-color: var(--background-color-left-highlight);
}