* {
  margin: 0;
  padding: 0;
}

:root {
  background: var(--background-color-left);
  
  
  --background-color-left: rgb(192, 240, 120);
  --background-color-right: white;
  --dark-transparent: rgba(50,50,50,60%);
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

.container {
  display: flex;
  flex-grow: 1;
}

.outer {
  flex-direction: column;
  justify-content: center;
}

.logo.container {
  background-color: var(--dark-transparent);
  justify-content: center;
  flex-grow:0;
  flex-basis: 20ex;
  text-align: center;
  align-items: center;
  margin-top: -50vh;
}

.right {
  background-color: var(--background-color-right);
  flex-grow: 6;
  flex-basis:63vw;
}

.left {
  flex-grow: 4;
  flex-basis: 37vw;
  flex-shrink:0;
}
